__pycache__/
*.pyc
*.pyo
venv/
gpu_venv/
Counting/__pycache__/
models/__pycache__/
saved_models/*
init_pops/*
results/*.csv
results/*-epochs/*
continueTraining/*
HeaderFiles/*
TfLiteModels/*
HeaderModels/*
Samples/*
ThesisResults/*
*.txt
test/*
Manual_Run/*
NAS/*
OverleafAssistance.tex
utils/CreateMemoryReport.sh
MemorySymbols/*
SurrogateComparisson/ranknet_model.keras
SurrogateComparisson/ranknet_training_data.npz
SurrogateComparisson/UnConstrainedVersion/*
SurrogateComparisson/ConstrainedVersion/*
*.png
plotting/images/*.png
